*.pth filter=lfs diff=lfs merge=lfs -text
models/pix2pix/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
**/variables.data-*-of-* filter=lfs diff=lfs merge=lfs -text
models/pix2pix/* filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
